.product__image {
    border-radius: 2rem;
    cursor: pointer;
}

.product__text {
    color: rgb(118, 118, 118) !important;
    font-weight: 300 !important;
    line-height: 1 !important;
    font-family: Muli, sans-serif !important;
    font-size: 16px !important;
}

.product__title {
    color: rgb(123, 114, 214);
    font-weight: 500;
    cursor: pointer;
}


.product__subtitle  {
    color: rgb(163, 162, 162);
}

.MuiTableBody-root > .MuiTableRow-root:hover {
    background-color: #F7F7F7;
}